<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registry.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @registry.location %>
</p>

<p>
  <strong>State:</strong>
  <%= @registry.state %>
</p>

<%= link_to 'Edit', edit_registry_path(@registry) %> |
<%= link_to 'Back', registries_path %>
