<p id="notice"><%= notice %></p>

<p>
  <strong>Registry:</strong>
  <%= @enrollment.registry&.name %>
</p>

<p>
  <strong>Coordinator:</strong>
  <%= @enrollment.coordinator&.email %>
</p>

<p>
  <strong>Participant:</strong>
  <%= @enrollment.participant&.name %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @enrollment.remarks %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
